@media (max-width: 480px){
        /*Cabecera*/
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }


    /*CUERPO*/
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    /*SECCIÓN ALARMA*/

    #texto_alarma{
        font-family: monospace;
        font-size: 3rem;
        text-align: center;
        color: black;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .zona_alarma{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alarma_select_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .alarma_select_section h3{
        font-family: monospace;
        font-size: 2rem;
        text-align: center;
    }

    .select_alarma{
        width: 50%;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
    }

    /*.select_alarma:hover{
        cursor: pointer;
        background-color: #FF8800;
        color: black;
        border: #FF8800 solid 2px;
    }
    */
    .select_alarma option{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .alarma_boton_section{
        display: flex;
        justify-content: center;
    }

    .selectorSonido_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f1f3f4;
        border: none;
        border-radius: 10px;
    }


    .selectorSonido_section select{
        width: 40%;
        height: 40px;
        margin: 10px;
        border: none;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
        background-color: transparent;
    }

    .selectorSonido_section audio{
        background-color: #f1f3f4;
    }

    .btnAlarma{
        margin: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 2rem;
        background-color: #FF8800;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btnAlarma:hover{
        background-color: orange;
        border: 3px solid #FF8800;
    }

    #btnDetener{
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 600px){
         /*Cabecera*/
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }


    /*CUERPO*/
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    /*SECCIÓN ALARMA*/

    #texto_alarma{
        font-family: monospace;
        font-size: 3rem;
        text-align: center;
        color: black;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .zona_alarma{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alarma_select_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .alarma_select_section h3{
        font-family: monospace;
        font-size: 2rem;
        text-align: center;
    }

    .select_alarma{
        width: 50%;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
    }

    /*.select_alarma:hover{
        cursor: pointer;
        background-color: #FF8800;
        color: black;
        border: #FF8800 solid 2px;
    }
    */
    .select_alarma option{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .alarma_boton_section{
        display: flex;
        justify-content: center;
    }

    .selectorSonido_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f1f3f4;
        border: none;
        border-radius: 10px;
    }


    .selectorSonido_section select{
        width: 40%;
        height: 40px;
        margin: 10px;
        border: none;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
        background-color: transparent;
    }

    .selectorSonido_section audio{
        background-color: #f1f3f4;
    }

    .btnAlarma{
        margin: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 2rem;
        background-color: #FF8800;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btnAlarma:hover{
        background-color: orange;
        border: 3px solid #FF8800;
    }

    #btnDetener{
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 768px){
         /*Cabecera*/
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }


    /*CUERPO*/
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    /*SECCIÓN ALARMA*/

    #texto_alarma{
        font-family: monospace;
        font-size: 3rem;
        text-align: center;
        color: black;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .zona_alarma{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alarma_select_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .alarma_select_section h3{
        font-family: monospace;
        font-size: 2rem;
        text-align: center;
    }

    .select_alarma{
        width: 50%;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
    }

    /*.select_alarma:hover{
        cursor: pointer;
        background-color: #FF8800;
        color: black;
        border: #FF8800 solid 2px;
    }
    */
    .select_alarma option{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .alarma_boton_section{
        display: flex;
        justify-content: center;
    }

    .selectorSonido_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f1f3f4;
        border: none;
        border-radius: 10px;
    }


    .selectorSonido_section select{
        width: 40%;
        height: 40px;
        margin: 10px;
        border: none;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
        background-color: transparent;
    }

    .selectorSonido_section audio{
        background-color: #f1f3f4;
    }

    .btnAlarma{
        margin: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 2rem;
        background-color: #FF8800;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btnAlarma:hover{
        background-color: orange;
        border: 3px solid #FF8800;
    }

    #btnDetener{
        display: none;
    }
}

@media (min-width:769px) and (max-width: 1024px){
         /*Cabecera*/
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }


    /*CUERPO*/
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    /*SECCIÓN ALARMA*/

    #texto_alarma{
        font-family: monospace;
        font-size: 3rem;
        text-align: center;
        color: black;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .zona_alarma{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alarma_select_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .alarma_select_section h3{
        font-family: monospace;
        font-size: 2rem;
        text-align: center;
    }

    .select_alarma{
        width: 50%;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
    }

    /*.select_alarma:hover{
        cursor: pointer;
        background-color: #FF8800;
        color: black;
        border: #FF8800 solid 2px;
    }
    */
    .select_alarma option{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .alarma_boton_section{
        display: flex;
        justify-content: center;
    }

    .selectorSonido_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f1f3f4;
        border: none;
        border-radius: 10px;
    }


    .selectorSonido_section select{
        width: 40%;
        height: 40px;
        margin: 10px;
        border: none;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
        background-color: transparent;
    }

    .selectorSonido_section audio{
        background-color: #f1f3f4;
    }

    .btnAlarma{
        margin: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 2rem;
        background-color: #FF8800;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btnAlarma:hover{
        background-color: orange;
        border: 3px solid #FF8800;
    }

    #btnDetener{
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
         /*Cabecera*/
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }


    /*CUERPO*/
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    /*SECCIÓN ALARMA*/

    #texto_alarma{
        font-family: monospace;
        font-size: 3rem;
        text-align: center;
        color: black;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .zona_alarma{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alarma_select_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .alarma_select_section h3{
        font-family: monospace;
        font-size: 2rem;
        text-align: center;
    }

    .select_alarma{
        width: 50%;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
    }

    /*.select_alarma:hover{
        cursor: pointer;
        background-color: #FF8800;
        color: black;
        border: #FF8800 solid 2px;
    }
    */
    .select_alarma option{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .alarma_boton_section{
        display: flex;
        justify-content: center;
    }

    .selectorSonido_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f1f3f4;
        border: none;
        border-radius: 10px;
    }


    .selectorSonido_section select{
        width: 40%;
        height: 40px;
        margin: 10px;
        border: none;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
        background-color: transparent;
    }

    .selectorSonido_section audio{
        background-color: #f1f3f4;
    }

    .btnAlarma{
        margin: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 2rem;
        background-color: #FF8800;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btnAlarma:hover{
        background-color: orange;
        border: 3px solid #FF8800;
    }

    #btnDetener{
        display: none;
    }
}

@media (min-width: 1281px){
    /*Cabecera*/
    header{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: black;
            color: white;
            position: fixed;
            left: 0px;
            right: 0px;
            top: 0px;
            border-bottom: 2px solid #FF8800;
            padding: 1rem;
            height: 80px;
        }



        header::after{
            position: absolute;
            bottom: -10px;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #FF8800;
            animation: desplazamiento 5s linear infinite
        }

        @keyframes desplazamiento {
            0%{
                left: 0px;
            }

            50%{
                left: 50%;
            }

            75%{
                left: 75%
            }

            100%{
                left: 100%;
            }
        }

        header h1 a{
            font-size: 3rem;
        }

        header a:hover{
            color: #FF8800;
            
        }

        nav ul{
            display: flex;
            padding: 1rem;
        }

        li{
            margin: 20px;
            list-style: none;
        }

        a{
            text-decoration: none;
            color: white;
            cursor: pointer;
            font-size: 2rem;
        }

        nav ul li a:hover{
            color: #FF8800;
        }

    /*CUERPO*/
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    /*SECCIÓN ALARMA*/

    #texto_alarma{
        font-family: monospace;
        font-size: 100px;
        text-align: center;
        color: black;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .zona_alarma{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alarma_select_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .alarma_select_section h3{
        font-family: monospace;
        font-size: 35px;
        text-align: center;
    }

    .select_alarma{
        width: 50%;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
    }

    /*.select_alarma:hover{
        cursor: pointer;
        background-color: #FF8800;
        color: black;
        border: #FF8800 solid 2px;
    }
    */
    .select_alarma option{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .alarma_boton_section{
        display: flex;
        justify-content: center;
    }

    .selectorSonido_section{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1f3f4;
        border: none;
        border-radius: 10px;
    }


    .selectorSonido_section select{
        width: 50%;
        height: 40px;
        margin: 10px;
        border: none;
        text-align: center;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
        background-color: transparent;
    }

    .selectorSonido_section audio{
        background-color: #f1f3f4;
    }

    .btnAlarma{
        margin: 20px;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        background-color: #FF8800;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btnAlarma:hover{
        background-color: orange;
        border: 3px solid #FF8800;
    }

    #btnDetener{
        display: none;
    }
}