@media(max-width: 480px){
    /*Cabecera*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }

    body{
        overflow: hidden;
        margin-top:150px;
        width: 100%;
        height: 100vh;
    }

    body{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*SECCIÓN CRONÉMTRO*/

    .cronometro__main{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #tituloCronometro{
        font-family: monospace;
        font-size: 5rem;
        text-align: center;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .cronometro__seccion{
        /*position: relative;*/
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contrometro__contenido{
        /*position: absolute;*/
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 10px 10px 2px gray;
    }

    .cronometro__texto{
        font-size: 2rem;
        font-family: monospace;
        margin: 0;
    }

    .cronometro__botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cronometro_btn{
        width: 30px;
        height: 30px;
        margin: 10px;
        border-radius: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn_icon{
        width: 50%;
    }


    #btn_play{
        background-color: #2CA700;
    }


    #btn_pausa{
        
        display: none;
        background-color: #FF8800;
    }

    #btn_stop{
        display: none;
        background-color: #9E0C0C;
    }

    .decoracion_crono{
        pointer-events: none;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute;
        animation: giro 60s linear infinite;
        animation-play-state: paused;
    }

    .decoracion_crono::after{
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #FF8800;
        position: absolute;
        top: -60px;
        left: 50%;
        
    }

    @keyframes giro{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
}

@media (min-width: 481px) and (max-width: 600px){
     /*Cabecera*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }

    body{
        overflow: hidden;
        margin-top:150px;
        width: 100%;
        height: 100vh;
    }

    body{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*SECCIÓN CRONÉMTRO*/

    .cronometro__main{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #tituloCronometro{
        font-family: monospace;
        font-size: 5rem;
        text-align: center;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .cronometro__seccion{
        /*position: relative;*/
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contrometro__contenido{
        /*position: absolute;*/
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 10px 10px 2px gray;
    }

    .cronometro__texto{
        font-size: 2.5rem;
        font-family: monospace;
        margin: 0;
    }

    .cronometro__botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cronometro_btn{
        width: 30px;
        height: 30px;
        margin: 10px;
        border-radius: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn_icon{
        width: 50%;
    }


    #btn_play{
        background-color: #2CA700;
    }


    #btn_pausa{
        
        display: none;
        background-color: #FF8800;
    }

    #btn_stop{
        display: none;
        background-color: #9E0C0C;
    }

    .decoracion_crono{
        pointer-events: none;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        position: absolute;
        animation: giro 60s linear infinite;
        animation-play-state: paused;
    }

    .decoracion_crono::after{
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #FF8800;
        position: absolute;
        top: -60px;
        left: 50%;
        
    }

    @keyframes giro{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
}

@media (min-width: 601px) and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }

    body{
        overflow: hidden;
        margin-top:150px;
        width: 100%;
        height: 100vh;
    }

    body{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*SECCIÓN CRONÉMTRO*/

    .cronometro__main{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #tituloCronometro{
        font-family: monospace;
        font-size: 5rem;
        text-align: center;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .cronometro__seccion{
        /*position: relative;*/
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contrometro__contenido{
        /*position: absolute;*/
        width: 280px;
        height: 280px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 10px 10px 2px gray;
    }

    .cronometro__texto{
        font-size: 2.5rem;
        font-family: monospace;
        margin: 0;
    }

    .cronometro__botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cronometro_btn{
        width: 30px;
        height: 30px;
        margin: 10px;
        border-radius: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn_icon{
        width: 50%;
    }


    #btn_play{
        background-color: #2CA700;
    }


    #btn_pausa{
        
        display: none;
        background-color: #FF8800;
    }

    #btn_stop{
        display: none;
        background-color: #9E0C0C;
    }

    .decoracion_crono{
        pointer-events: none;
        width: 180px;
        height: 180px;
        border-radius: 100%;
        position: absolute;
        animation: giro 60s linear infinite;
        animation-play-state: paused;
    }

    .decoracion_crono::after{
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #FF8800;
        position: absolute;
        top: -60px;
        left: 50%;
        
    }

    @keyframes giro{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px){
     /*Cabecera*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }

    body{
        overflow: hidden;
        margin-top:150px;
        width: 100%;
        height: 100vh;
    }

    body{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*SECCIÓN CRONÉMTRO*/

    .cronometro__main{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #tituloCronometro{
        font-family: monospace;
        font-size: 5rem;
        text-align: center;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .cronometro__seccion{
        /*position: relative;*/
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contrometro__contenido{
        /*position: absolute;*/
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 10px 10px 2px gray;
    }

    .cronometro__texto{
        font-size: 2.5rem;
        font-family: monospace;
        margin: 0;
    }

    .cronometro__botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cronometro_btn{
        width: 30px;
        height: 30px;
        margin: 10px;
        border-radius: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn_icon{
        width: 50%;
    }


    #btn_play{
        background-color: #2CA700;
    }


    #btn_pausa{
        
        display: none;
        background-color: #FF8800;
    }

    #btn_stop{
        display: none;
        background-color: #9E0C0C;
    }

    .decoracion_crono{
        pointer-events: none;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        position: absolute;
        animation: giro 60s linear infinite;
        animation-play-state: paused;
    }

    .decoracion_crono::after{
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #FF8800;
        position: absolute;
        top: -60px;
        left: 50%;
        
    }

    @keyframes giro{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
     /*Cabecera*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 10px;
    }

    /*Cabecera*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: black;
        color: white;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        min-height: 70px;
        padding: 1rem;
        border-bottom: 2px solid #FF8800;
    }

    header::after{
        position: absolute;
        bottom: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FF8800;
        animation: desplazamiento 5s linear infinite
    }

    @keyframes desplazamiento {
        0%{
            left: 0px;
        }

        50%{
            left: 50%;
        }

        75%{
            left: 75%
        }

        100%{
            left: 100%;
        }
    }
    header h1 a{
        font-size: 4rem;
    }

    header a:hover{
        color: #FF8800;
        
    }

    nav ul{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    li{
        list-style: none;
        border: 1px solid white;
        padding: 1rem;
    }

    a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    nav ul li a:hover{
        color: #FF8800;
    }

    body{
        overflow: hidden;
        margin-top:150px;
        width: 100%;
        height: 100vh;
    }

    body{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*SECCIÓN CRONÉMTRO*/

    .cronometro__main{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #tituloCronometro{
        font-family: monospace;
        font-size: 5rem;
        text-align: center;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .cronometro__seccion{
        /*position: relative;*/
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contrometro__contenido{
        /*position: absolute;*/
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 10px 10px 2px gray;
    }

    .cronometro__texto{
        font-size: 2.5rem;
        font-family: monospace;
        margin: 0;
    }

    .cronometro__botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cronometro_btn{
        width: 30px;
        height: 30px;
        margin: 10px;
        border-radius: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn_icon{
        width: 50%;
    }


    #btn_play{
        background-color: #2CA700;
    }


    #btn_pausa{
        
        display: none;
        background-color: #FF8800;
    }

    #btn_stop{
        display: none;
        background-color: #9E0C0C;
    }

    .decoracion_crono{
        pointer-events: none;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        position: absolute;
        animation: giro 60s linear infinite;
        animation-play-state: paused;
    }

    .decoracion_crono::after{
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #FF8800;
        position: absolute;
        top: -60px;
        left: 50%;
        
    }

    @keyframes giro{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
}

@media (min-width: 1281px){
    /*Cabecera*/
        header{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: black;
            color: white;
            position: fixed;
            left: 0px;
            right: 0px;
            top: 0px;
            border-bottom: 2px solid #FF8800;
            padding: 1rem;
            height: 90px;
        }



        header::after{
            position: absolute;
            bottom: -10px;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #FF8800;
            animation: desplazamiento 5s linear infinite
        }

        @keyframes desplazamiento {
            0%{
                left: 0px;
            }

            50%{
                left: 50%;
            }

            75%{
                left: 75%
            }

            100%{
                left: 100%;
            }
        }

        header h1 a{
            font-size: 3rem;
        }

        header a:hover{
            color: #FF8800;
            
        }

        nav ul{
            display: flex;
            padding: 1rem;
        }

        li{
            margin: 20px;
            list-style: none;
        }

        a{
            text-decoration: none;
            color: white;
            cursor: pointer;
            font-size: 2rem;
        }

        nav ul li a:hover{
            color: #FF8800;
        }

    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*SECCIÓN CRONÉMTRO*/

    .cronometro__main{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #tituloCronometro{
        font-family: monospace;
        font-size: 5rem;
        text-align: center;
        text-shadow: 
            1px 1px 1px #FF8800,
            2px 2px 1px #FF8800;
        margin: 0;
    }

    .cronometro__seccion{
        /*position: relative;*/
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contrometro__contenido{
        /*position: absolute;*/
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 10px 10px 2px gray;
    }

    .cronometro__texto{
        font-size: 70px;
        font-family: monospace;
        margin: 0;
    }

    .cronometro__botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cronometro_btn{
        width: 50px;
        height: 50px;
        margin: 10px;
        border-radius: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn_icon{
        width: 80%;
    }


    #btn_play{
        background-color: #2CA700;
    }


    #btn_pausa{
        
        display: none;
        background-color: #FF8800;
    }

    #btn_stop{
        display: none;
        background-color: #9E0C0C;
    }

    .decoracion_crono{
        pointer-events: none;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        position: absolute;
        animation: giro 60s linear infinite;
        animation-play-state: paused;
    }

    .decoracion_crono::after{
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #FF8800;
        position: absolute;
        top: -60px;
        left: 50%;
        
    }

    @keyframes giro{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }

}